body{
	background-image: url(img/img16.jpg);
	background-size: 100%;
	font-size: 20px;
	text-align: center;
	position: relative;
	top: 100px;
}
input{
    		width:70px;
    		height:70px;
    		font-size: 15PX;
    		border-bottom-left-radius: 30px;
    		border-bottom-right-radius: 50px;
    		border-top-left-radius: 50px;
    		border-top-right-radius: 30px;
    	  background-image: url(img/img1.jpg);
    	  
    	}

